aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor
numpy
opencv-python
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pykeyboard
https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.23.zip
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
unidecode
uvloop
yt-dlp
youtube-search
youtube-search-python

# Audio Processing Libraries for Higher Sound Quality and Stereo Processing:
librosa>=0.8.0  # For music and audio analysis, including stereo support
soundfile>=0.10.3  # For reading and writing sound files in various formats
audioread>=2.1.9  # To decode audio files for playback and processing
pydub>=0.25.1  # For simple audio manipulation (e.g., slicing, concatenation)
scipy>=1.9.0  # For advanced signal processing techniques
